@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
* {
  box-sizing: border-box;
}
body {
  height: auto;
  background-color: #111;
  color: #fff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.main-lists {
  margin-top: -150px;
}
footer {
  margin: 40px;
  text-align: center;
}

footer p {
  color: #999;
  font-style: italic;
  font-size: 12px;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading img {
  width: 600px;
  height: auto;
}
